version: "3.9"

services:
  backend:
    image: dbalsrl7648/codeverse-backend:latest
    container_name: backend
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: production
    ports:
      - "4000:3000"

  frontend:
    image: dbalsrl7648/codeverse-frontend:latest
    container_name: frontend
    restart: always
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NODE_ENV: production
    ports:
      - "3000:3000"
